<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person" class="com.xpd.spring.bean.Person" scope="singleton" >
        <property name="age" value="4"/>
        <property name="name" value="xpd"/>
    </bean>

    <bean id="person2" class="com.xpd.spring.bean.Person">
        <constructor-arg index="0" value="xpd2"></constructor-arg>
        <constructor-arg index="1" value="4"></constructor-arg>
    </bean>

    <bean id="person3" class="com.xpd.spring.bean.Person">
        <constructor-arg name="age" value="4"></constructor-arg>
        <constructor-arg name="name" value="xpd"></constructor-arg>
    </bean>
</beans>